body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-top: 50px;
}

.content {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin: 20px;
}

.item img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.smash-btn, .pass-btn {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.smash-btn {
    background-color: green;
    color: white;
}

.pass-btn {
    background-color: red;
    color: white;
}

.smash-btn:hover,.smash-btn:active {
  color: black;
  background-color: #c9ff8c;
  font-size: 150%;
}
.pass-btn:hover,.passbtn:active 
 {
  color: black;
  background-color: #defc8d;
   font-size: 150%;
}
